<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>詳細画面 | ペット満足度調査アプリケーション</title>
</head>
<body>
<h1 class="mt-3">回答詳細</h1>
<div>
  <h5>名前</h5><td th:text="${survey.name}">(name)</td>
  <h5>年齢</h5><p th:text="${survey.age}">(age)</p>
  <h5>性別</h5><td th:switch="${survey.sex}">
    <p th:case="1">オス</p>
    <p th:case="2">メス</p>
    <p th:case="3">不明</p>
  </td>
  <h5>満足度</h5><td th:switch="${survey.score}">
    <p th:case="1">とても不満</p>
    <p th:case="2">不満</p>
    <p th:case="3">普通</p>
    <p th:case="4">満足</p>
    <p th:case="5">とても満足</p>
  </td>
  <h5>意見</h5><p th:text="${survey.message}">(message)</p>
</div>
<a href="./list.html" th:href="@{/surveys}">回答一覧に戻る</a>
</body>
</html>